.popup {
  position: fixed;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.popup::before {
  content: "";
  position: fixed;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.5;
}