.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
  min-height: 120px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .profile {
    flex-direction: column;
    min-height: 286px;
  }
}