.header {
  margin: 45px auto 0;
  padding: 0;
  height: 74px;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .header {
    margin: 0 auto ;
    max-width: 320px;
  }
}
@media screen and (min-width: 600px) and (max-width: 879px) {
  .header {
    margin: 28px 0 0 ;
  }
}