.profile-info__profession {
  grid-area: profession;
  color: white;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .profile-info__profession {
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
    text-align: center;
  }
}
