.profile-info__profession {
  grid-area: profession;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 326px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .profile-info__profession {
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    text-align: center;
  }
}