.avatar {
  border-radius: 50%;
  max-width: 120px;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .avatar {
    max-width: 120px;
    max-height: 120px;
    align-self: center;
  }
}