
.form__input-error {
  width: 164px;
  height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #FF0000;
} 
/* .form__input-error {
  
}  */
/* .form__input-error_active {

} */