.popup__close {
  position: relative;
  height: 32px;
  width: 32px;
  background-image: url(../../../images/close.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -8px;
  left: 438px;
  background-color: black;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
  cursor:pointer;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .popup__close {
    height: 20px;
    width: 20px;
    top: -32px;
    left: 261px;    
  }
}