@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__remove/element__remove.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_checked/element__like_checked.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_image/popup_image.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/form/form.css);



@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__save/form__save.css);
@import url(../blocks/slide/slide.css);
@import url(../blocks/slide/__image/slide__image.css);
@import url(../blocks/slide/__name/slide__name.css);

@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__save/_inactive.css/form__save_inactive.css);