@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__profession/profile-info__profession.css);
@import url(../blocks/profile-info/__edit/profile-info__edit.css);
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/add-button/__image/add-button__image.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright1.css);
/* ??? footer__copyright - not available -> was renamed */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__name/form__name.css);
@import url(../blocks/form/__profession/form__profession.css);
@import url(../blocks/form/__save/form__save.css);
@import url(../blocks/form/__close/form__close.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/element/__like/_checked/element__like_checked.css);