.profile-info__name {
  grid-area: name;
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile-info__name {
    text-align: center;
    font-size: 27px;
    line-height: 32px;
  }
}