.form__profession {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 0;
  height: 27px;
  border-bottom:1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .form__profession {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    max-width: 238px;
  }
}